::-webkit-scrollbar{
  display: none;
}
*{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
@font-face{
  font-family: segoe;
  src: url("../font/segoe-ui.ttf");
}
body {
  margin: 0;
  font-family: segoe;
  background-color: #fff;
  width:100vw;
  height: auto;
  overflow-x: hidden;
}

h2{
  font-weight: 500;
  font-size: 40px;
  line-height: 45px;
  text-align: center;
}
h3{
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
}
p{
  font-size: 15px;
}
a {
  color: #000;
  text-decoration: none;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  list-style: none;
  overflow: auto;
  background-color: #eaf3fa;
  padding-right:45px;
}

.header li a {
  display: block;
  padding: 20px 20px;
  text-decoration: none;
  border-bottom:1px solid rgba(0,0,0,0.4);
}
.header li .special{
  background:linear-gradient(90deg, #962591, #5675be);
  border: none;
  border-radius:100px;
  padding:7px 30px;
  margin-top:15px;
  color:#fff;
  font-size:15px;
  text-align:center;
  margin-bottom:20px;
}
.header li .special:hover{
  transition: .5s;
  background:linear-gradient(270deg, #962591, #5675be);
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 12px 20px 0px 30px;
  text-decoration: none;
}
.header .logo img{
  width:35px;
}
.header .heading{
  padding: 12px 0px;
  font-size: 25px;
  position: absolute;
}
/* menu */

.header .menu {
  clear: both;
  max-height:0px;
  min-height: 0px;
  transition:min-height .2s ease-out;
  overflow-y: auto;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 30px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 25px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  min-height: 100vh;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}
.left{
  float: none;
}
.right{
  float: none;
}
.why{
  background: url("../img/about1.jpg");
  background-size: cover;
  padding:80px 30px 30px 30px;
  overflow: hidden;
}
.why .right{
  color: black;
  width:auto;
  padding: 10px 20px;
  background: rgba(255, 250, 250, 0.5);
  text-align: justify;
  box-shadow: 10px -10px 0px #962591;
  margin-top: 30px;
}
.why .right p{
  text-align: justify;
  font-size: 15px;
}
.why .left{
  color: white;
  width:auto;
  padding-right: 0px;
}
.why .left h2{
  text-align: left;
  margin: 0px;
  line-height: 45px;
  font-size: 30px;
}
.why .left p{
  font-size: 15px;
  margin-bottom: 10px;
}
.why .left span{
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 50px;
  color: #000;
  background: rgba(255, 250, 250, 0.5);
}

.what{
  background: #fff;
  padding:30px 30px 30px 30px;
  overflow: hidden;
}
.what .left{
  color: black;
  padding: 10px 20px;
  background: url("../img/about2.jpg");
  background-size: cover;
  text-align: justify;
  box-shadow: -10px -10px 0px #962591;
  margin-top: 40px;
  width:auto;
}
.what .left p{
  text-align: justify;
  font-size: 15px;
  color: #fff;
}
.what .right{
  color: #000;
  width:auto;
  padding-right: 0px;
  text-align: left;
}
.what .right h2{
  text-align: left;
  margin: 0px;
  line-height: 45px;
  font-size: 30px;
}
.what .right p{
  font-size: 15px;
  margin-bottom: 10px;
}
.what .right span{
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 50px;
  color: #fff;
  background:linear-gradient(90deg, #962591, #5675be);
}

.how{
  background: url("../img/about3.jpg");
  background-size: cover;
  padding:80px 30px 30px 30px;
  overflow: hidden;
}
.how .right{
  color: black;
  width:auto;
  padding: 10px 20px;
  background: rgba(255, 250, 250, 0.5);
  text-align: justify;
  box-shadow: 10px -10px 0px #962591;
  margin-top: 30px;
}
.how .right p{
  text-align: justify;
  font-size: 15px;
}
.how .left{
  color: white;
  width:auto;
  padding-right: 0px;
}
.how .left h2{
  text-align: left;
  margin: 0px;
  line-height: 45px;
  font-size: 30px;
}
.how .left p{
  font-size: 15px;
  margin-bottom: 10px;
}
.how .left span{
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 50px;
  color: #000;
  background: rgba(255, 250, 250, 0.5);
}

.objectives{
  background: #fff;
  padding:30px 30px 30px 30px;
  overflow: hidden;
  display:block;
}
.objectives .col{
  width:auto;
  text-align: center;
  margin:50px 0px;
}
.objectives .col h4{
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}
.objectives .col p{
  font-size: 15px;
  margin:10px 0px 30px 0px;
}
.objectives .col img{
  background:linear-gradient(30deg, #962591, #5675be);
  padding: 20px;
  border-radius: 10px;
  width:50px;
}
.objectives .col span{
  background:linear-gradient(90deg, #962591, #5675be);
  padding: 10px 30px;
  border-radius: 50px;
  color:#fff;
  font-size: 15px;
}

footer p{
  margin: 0px;
  text-align: center;
  font-size:10px;
  padding: 15px;
  background: #eaf3fa;
}
.objectives .col span a{
  color:#fff;
}
.what .right span a{
  color:#fff;
}

@media (min-width: 70em) {
  p{
    font-size: 20px;
  }
  h2{
    font-weight: 500;
    font-size: 50px;
    line-height: 50px;
  }
  .header li {
    float: left;
  }
  .header ul{
    margin-right:100px;
    background: #fff;
  }
  .header li a {
    padding: 20px 30px;
    border:none;
  }
  .header .menu {
    clear: none;
    float: right;
    min-height: none;
    max-height:none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 12px 20px 0px 100px;
    text-decoration: none;
  }
  .header li .special{
    margin-bottom:0px;
  }
  .header .heading{
    padding: 10px 20px;
    font-size: 30px;
    position: absolute;
  }
  .left{
    float: left;
  }
  .right{
    float: right;
  }
  .why{
    background: url("../img/about1.jpg");
    background-size: cover;
    padding:150px 100px 80px 100px;
    overflow: hidden;
  }
  .why .right{
    color: black;
    width:37.5%;
    padding: 30px 50px;
    background: rgba(255, 250, 250, 0.5);
    text-align: justify;
    box-shadow: 20px -20px 0px #962591;
    margin-top: 0px;
  }
  .why .right p{
    text-align: justify;
    font-size: 20px;
  }
  .why .left{
    color: white;
    width:40%;
    padding-right: 40px;
  }
  .why .left h2{
    text-align: left;
    margin: 0px;
    line-height: 60px;
    font-size: 50px;
  }
  .why .left p{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .why .left span{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    color: #000;
    background: rgba(255, 250, 250, 0.5);
  }

  .what{
    background: #fff;
    padding:80px 100px 80px 100px;
    overflow: hidden;
  }
  .what .left{
    color: black;
    width:37.5%;
    padding: 30px 50px;
    background: url("../img/about2.jpg");
    background-size: cover;
    text-align: justify;
    box-shadow: -20px -20px 0px #962591;
    margin-top: 0px;
  }
  .what .left p{
    text-align: justify;
    font-size: 20px;
    color: #fff;
  }
  .what .right{
    color: #000;
    width:40%;
    padding-right: 40px;
    text-align: right;
  }
  .what .right h2{
    text-align: right;
    margin: 0px;
    line-height: 60px;
    font-size: 50px;
  }
  .what .right p{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .what .right span{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    color: #fff;
    background:linear-gradient(90deg, #962591, #5675be);
    transition:.5s;
  }
  .what .right span:hover{
    background:linear-gradient(-90deg, #962591, #5675be);
  }
  .what .right span a{
    color:#fff;
  }

  .how{
    background: url("../img/about3.jpg");
    background-size: cover;
    padding:80px 100px 80px 100px;
    overflow: hidden;
  }
  .how .right{
    color: black;
    width:37.5%;
    padding: 30px 50px;
    background: rgba(255, 250, 250, 0.5);
    text-align: justify;
    box-shadow: 20px -20px 0px #962591;
    margin-top: 0px;
  }
  .how .right p{
    text-align: justify;
    font-size: 20px;
  }
  .how .left{
    color: white;
    width:40%;
    padding-right: 40px;
  }
  .how .left h2{
    text-align: left;
    margin: 0px;
    line-height: 60px;
    font-size: 50px;
  }
  .how .left p{
    font-size: 20px;
    margin-bottom: 10px;
  }
  .how .left span{
    font-size: 20px;
    padding: 10px 30px;
    border-radius: 50px;
    color: #000;
    background: rgba(255, 250, 250, 0.5);
  }

  .objectives{
    background: #fff;
    padding:80px 100px 80px 100px;
    overflow: hidden;
    display:flex;
  }
  .objectives .col{
    width:calc(100vw/3);
    text-align: center;
    margin:0px 30px;
  }
  .objectives .col h4{
    font-size: 25px;
    margin: 10px 0px 0px 0px;
  }
  .objectives .col p{
    font-size: 20px;
    margin:10px 0px 30px 0px;
  }
  .objectives .col img{
    background:linear-gradient(30deg, #962591, #5675be);
    padding: 20px;
    border-radius: 10px;
    width:50px;
    transition: .5s;
  }
  .objectives .col img:hover{
    transform:scale(1.1);
    background:linear-gradient(-30deg, #962591, #5675be);
  }
  .objectives .col span{
    background:linear-gradient(90deg, #962591, #5675be);
    padding: 10px 30px;
    border-radius: 50px;
    color:#fff;
    font-size: 20px;
    transition: .5s;
  }
  .objectives .col span:hover{
    background:linear-gradient(-90deg, #962591, #5675be);
  }
  footer p{
    margin: 0px;
    text-align: center;
    font-size:15px;
    padding: 20px;
    background: #eaf3fa;
  }
}
