  ::-webkit-scrollbar{
    display: none;
  }
  *{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
  }
  @font-face{
    font-family: segoe;
    src: url("../font/segoe-ui.ttf");
  }
  body {
    margin: 0;
    font-family: segoe;
    background-color: #fff;
    width:100vw;
    height: auto;
    overflow-x: hidden;
  }

  h2{
    font-weight: 500;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
  }
  h3{
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
  }
  p{
    font-size: 15px;
  }
  a {
    color: #000;
    text-decoration: none;
  }

  /* header */

  .header {
    background-color: #fff;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    z-index: 3;
  }

  .header ul {
    margin: 0;
    list-style: none;
    overflow: auto;
    background-color: #eaf3fa;
    padding-right:45px;
  }

  .header li a {
    display: block;
    padding: 20px 20px;
    text-decoration: none;
    border-bottom:1px solid rgba(0,0,0,0.4);
  }
  .header li .special{
    background:linear-gradient(90deg, #962591, #5675be);
    border: none;
    border-radius:100px;
    padding:7px 30px;
    margin-top:15px;
    color:#fff;
    font-size:15px;
    text-align:center;
    margin-bottom:20px;
  }
  .header li .special:hover{
    transition: .5s;
    background:linear-gradient(270deg, #962591, #5675be);
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 12px 20px 0px 30px;
    text-decoration: none;
  }
  .header .logo img{
    width:35px;
  }
  /* menu */

  .header .menu {
    clear: both;
    max-height:0px;
    min-height: 0px;
    transition:min-height .2s ease-out;
    overflow-y: auto;
  }

  /* menu icon */

  .header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 28px 30px;
    position: relative;
    user-select: none;
  }

  .header .menu-icon .navicon {
    background: #333;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 25px;
  }

  .header .menu-icon .navicon:before,
  .header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
  }

  .header .menu-icon .navicon:before {
    top: 8px;
  }

  .header .menu-icon .navicon:after {
    top: -8px;
  }

  /* menu btn */

  .header .menu-btn {
    display: none;
  }

  .header .menu-btn:checked ~ .menu {
    min-height: 100vh;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
  }

  .header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
  }

  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

  .main{
    background: #eaf3fa;
    text-align: center;
    padding: 30px 0px;
  }
  .main img{
    width:100vw;
    margin-top: 30px;
    margin-bottom: -30px;
  }
  .main .content{
    padding:0px 20px;
  }
  .main .content p{
    margin-top: -20px;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .main span{
    padding:10px 40px;
    background:linear-gradient(90deg, #962591, #5675be);
    border-radius:100px;
    font-size: 15px;
  }
  .main span a{
    color: #fff;
  }
  .company{

  }
  .company .top{
    text-align: center;
    padding: 30px 20px;
    background: url("../img/company.jpg");
    background-size: cover;
    color:#fff;
  }
  .company .top p{
    margin: 0px;
    font-size: 15px;
  }
  .company .top h2{
    margin: 10px 0px;
  }
  .company .top span{
    padding: 7px 30px;
    border-radius: 50px;
    margin:0px 10px;
    background: rgba(250, 250, 250, 0.5);
    color:#000;
    font-size: 15px;
  }
  .company .bottom{
    padding:10px 30px;
    text-align: center;
  }
  .company .bottom p{
    text-align: justify;
    float: none;
    font-size: 15px;
  }
  .company .bottom img{
    width:30vw;
    float: none;
  }
  .verticals{
    background: #eaf3fa;
    padding: 20px 0px;
  }
  .verticals .nav{
    display: flex;
    overflow-x: auto;
  }
  .verticals .nav span{
    text-align: center;
    vertical-align: middle;
    min-width:170px;
    border-right: .5px solid #fff;
    line-height: 17px;
    background: #b8c0ff;
    padding: 20px 0px;
    font-size: 15px;
    transition: .5s;
  }
  .verticals .nav span:hover{
    transform: scale(1.1);
    border: 1px solid #fff;
  }
  .verticals .nav span:nth-of-type(1),.verticals .nav span:nth-of-type(2),.verticals .nav span:nth-of-type(3),.verticals .nav span:nth-of-type(5){
    padding-top: 30px;
  }
  .verticals .navb{
    display: flex;
    overflow-x: auto;
    text-align: center;
    transition: .5s;
  }
  .verticals .navb span{
    min-width:170px;
  }
  .verticals .navb span img{
    width:30%;

  }
  .verticals .navb span{
    visibility: hidden;
  }
  .verticals .navb span:nth-of-type(1){
    visibility: visible;
  }
  .verticals .nav span:nth-of-type(1){
    background: #8ca5f9;
  }
  .verticals .content{

  }
  .verticals .content .icontent{
    padding: 0px 30px 30px 30px;
    display: none;
    overflow: hidden;
  }
  .verticals .content .icontent div{
    float:none;
    width:auto;
  }
  .verticals .content .icontent div span{
    padding:10px 40px;
    background:linear-gradient(90deg, #962591, #5675be);
    border-radius:100px;
    font-size: 15px;
  }
  .verticals .content .icontent div span a{
    color: #fff;
  }
  .verticals .content .icontent img{
    float:none;
    width:45vw;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
    display: none;
  }
  .verticals .content .icontent:nth-of-type(1){
    display: block;
  }
  .services{
    background: #fff;
    margin-top: 0px;
    padding-bottom: 30px;
  }
  .services p{
    text-align: center;
    font-size: 15px;
    padding:0px 20px;
  }
  .services .main-carousel{
    padding: 10px 0px;
  }
  .services .main-carousel .carousel-cell{
    width:80vw;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin: 0px 20px;
    background: #eaf3fa;
  }
  .services .main-carousel .carousel-cell img{
    width:100%;
  }
  .services .main-carousel .carousel-cell h4{
    font-size: 25px;
    padding:0px 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    font-weight: 500;
  }
  .services .main-carousel .carousel-cell p{
    font-size: 15px;
    text-align: left;
    padding:0px 20px;
    margin-top:0px;
  }
  .services .main-carousel .carousel-cell div{
    margin-top:5px;
    background:linear-gradient(90deg, #962591, #5675be);
    overflow:hidden;
    min-height:45px;
    max-height: 45px;
  }
  .services .main-carousel .carousel-cell div p{
    text-align: right;
    float:left;
    color: #fff;
    padding:10px 30px;
    margin-top:2px;
  }
  .services .main-carousel .carousel-cell div img{
    float:right;
    width: 20px;
    padding:10px 30px;
    margin-top:5px;
  }
  .desktop{
    display: none;
  }
  .quotes{
    display: none;
  }
  .testimonials{
    background: #eaf3fa;
    padding: 30px 0px 0px 0px;
  }
  .testimonials p{
    padding: 10px 20px;
    text-align: center;
    font-size: 15px;
  }
  .testimonials .mquotes .quote{
    text-align: center;
    overflow: hidden;
    padding:30px 20px;
  }
  .testimonials .quote:nth-of-type(1), .testimonials .quote:nth-of-type(3){
    background: #fff;
  }
  .testimonials .mquotes .quote:nth-of-type(2) .text p{
    text-align: center;
  }
  .testimonials .mquotes .quote:nth-of-type(2) .text{
    text-align: center;
  }
  .testimonials .quote .profile{
    width:150px;
    border-radius: 50%;
    transition: .5s;
  }
  .testimonials .quote .profile:hover{
    transform:scale(1.1);
  }
  .testimonials .quote .text{
    padding: 10px 0px;
  }
  .testimonials .quote .text p{
    margin:0px;
    text-align: center;
    padding: 0px;
  }
  .testimonials .quote .text h5{
    margin:0px;
    font-size:20px;
  }
  .testimonials .quote .text h6{
    margin:0px;
    font-size:15px;
  }
  .testimonials .quote:nth-of-type(3) .quoteico{
    display: none;
  }
  .testimonials .quote:nth-of-type(1) .quoteico{
    display: none;
  }
  .contact{
    padding: 30px 0px;
    background: #eaf3fa;
  }
  .contact h2{
    margin: 30px 0px 20px 0px;
  }
  .contact .ccontent{
    overflow: hidden;
    padding: 0px 30px;
  }
  .contact .ccontent .left{
    text-align: center;
    float:none;
    padding:0px 20px;
  }
  .contact .ccontent .left img{
    width:150px;
    transition:.5s;
  }
  .contact .ccontent .left img:hover{
    transform: scale(1.1);
  }
  .contact .ccontent .left h4{
    font-size: 15px;
    font-weight: 600;
  }
  .contact .ccontent .right{
    float:none;
    padding:0px;
  }
  .contact p{
    margin: 10px 0px 30px 0px;
  }
  .contact .ccontent .right form{
    text-align: center;
    margin: 20px;
  }
  .contact .ccontent .right form input{
    padding:20px 30px;
    background:#fff;
    border-radius:50px;
    font-size: 20px;
    border:none;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .contact .ccontent .right form textarea{
    padding:20px 30px;
    height:100px;
    background:#fff;
    border-radius:20px;
    font-size: 20px;
    border:none;
    margin-bottom: 20px;
    font-size: 15px;
  }
  .contact .ccontent .right form .submit{
    background:linear-gradient(90deg, #962591, #5675be);
    color: #fff;
    padding: 10px 50px;
    margin:0px 20px;
    transition: .5s;
    font-size: 15px;
  }
  .contact .ccontent .right form .submit:hover{
    background:linear-gradient(270deg, #962591, #5675be);
  }
  footer p{
    margin: 0px;
    text-align: center;
    font-size:10px;
    padding: 10px;
  }

  @media (min-width: 70em) {
    p{
      font-size: 20px;
    }
    h2{
      font-weight: 500;
      font-size: 50px;
      line-height: 50px;
    }
    .header li {
      float: left;
    }
    .header ul{
      margin-right:100px;
      background: #fff;
    }
    .header li a {
      padding: 20px 30px;
  	  border:none;
    }
    .header .menu {
      clear: none;
      float: right;
      min-height: none;
      max-height:none;
    }
    .header .menu-icon {
      display: none;
    }
    .header .logo {
      display: block;
      float: left;
      font-size: 2em;
      padding: 12px 20px 0px 100px;
      text-decoration: none;
    }
    .header li .special{
      margin-bottom:0px;
    }
    .main{
      background: #eaf3fa;
      text-align: center;
      padding: 30px 0px;
    }
    .main img{
      width:70vw;
      margin-bottom: -80px;
    }
    .main .content{
      padding-top: 40px;
    }
    .main .content p{
      font-size: 23px;
    }
    .main span{
      padding:10px 40px;
      background:linear-gradient(90deg, #962591, #5675be);
      border-radius:100px;
      font-size: 20px;
      transition: .5s;
    }
    .main span:hover{
      transition: .5s;
      background:linear-gradient(270deg, #962591, #5675be);
    }
    .main span a{
      color: #fff;
    }
    .company{

    }
    .company .top{
      text-align: center;
      padding: 50px 20px;
      background: url("../img/company.jpg");
      background-size: cover;
      color:#fff;
    }
    .company .top p{
      margin: 0px;
      font-size: 23px;
    }
    .company .top h2{
      margin: 10px 0px;
    }
    .company .top span{
      padding: 7px 30px;
      border-radius: 50px;
      margin:0px 10px;
      background: rgba(250, 250, 250, 0.5);
      color:#000;
      font-size: 20px;
    }
    .company .bottom{
      padding:50px 100px;
      text-align: center;
      overflow: hidden;
    }
    .company .bottom p{
      text-align: justify;
      font-size:23px;
    }
    .verticals .nav span{
      text-align: center;
      vertical-align: middle;
      min-width:calc(100vw/6);
      border-right: .5px solid #fff;
      line-height: 17px;
      background: #b8c0ff;
      padding: 20px 0px;
      font-size: 15px;
    }
    .verticals .content{
    }
    .verticals .content .icontent{
      padding:0px 50px 50px 50px;
      display: none;
      overflow: hidden;
    }
    .verticals .content .icontent div{
      float:left;
      width:40vw;
    }
    .verticals .content .icontent div span{
      padding:10px 40px;
      background:linear-gradient(90deg, #962591, #5675be);
      border-radius:100px;
      font-size: 20px;
      transition: .5s;
    }
    .verticals .content .icontent div span:hover{
      transition: .5s;
      background:linear-gradient(270deg, #962591, #5675be);
    }
    .verticals .content .icontent div span a{
      color: #fff;
    }
    .verticals .content .icontent img{
      float:right;
      width:45vw;
      display: block;
      margin-top: 40px;
      border-radius: 10px;
      box-shadow: 2px 2px 50px rgba(0,0,0,0.05);
    }
    .verticals .content .icontent:nth-of-type(1){
      display: block;
    }
    .mobile{
      display: none;
    }
    .desktop{
      display: flex;
    }
    .services{
      background: #fff;
      margin-top: 0px;
      padding-bottom: 50px;
    }
    .services h2{
      margin:50px 0px 10px 0px;
    }
    .services p{
      text-align: center;
      font-size: 20px;
      padding:0px 200px;
      margin:0px;
      margin-bottom: 30px;
    }
    .services .desktop{
      padding: 10px 0px;
      margin:0px 100px;
    }
    .services .desktop .carousel-cell{
      width:calc(100%/4);
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      margin: 0px 15px;
      background: #eaf3fa;
      transition: .5s;
    }
    .services .desktop .carousel-cell img{
      width:100%;
    }
    .services .desktop .carousel-cell h4{
      font-size: 25px;
      padding:0px 20px;
      margin-bottom: 10px;
      margin-top: 20px;
      font-weight: 500;
    }
    .services .desktop .carousel-cell p{
      font-size: 15px;
      text-align: left;
      padding:0px 20px;
      margin-top:0px;
    }
    .services .desktop .carousel-cell div{
      margin-top:5px;
      background:linear-gradient(90deg, #962591, #5675be);
      overflow:hidden;
      min-height:45px;
      max-height: 45px;
      transition: .5s;
    }
    .services .desktop .carousel-cell div:hover{
      transform: scale(1.05);
    }
    .services .desktop .carousel-cell div p{
      text-align: right;
      float:left;
      color: #fff;
      padding:10px 30px;
      margin-top:2px;
    }
    .services .desktop .carousel-cell div img{
      float:right;
      width: 20px;
      padding:10px 30px;
      margin-top:5px;
    }
    .testimonials{
      background: #eaf3fa;
      padding: 30px 0px 0px 0px;
    }
    .testimonials h2{
      margin:20px 0px 0px 0px;
    }
    .testimonials p{
      padding: 10px 200px;
      text-align: center;
      font-size: 20px;
      margin:0px;
      margin-bottom:30px;
    }
    .testimonials .quote{
      overflow: hidden;
      padding:30px 18vw;
    }
    .testimonials .quote:nth-of-type(1), .testimonials .quote:nth-of-type(3){
      background: #fff;
    }
    .testimonials .quote:nth-of-type(2) .text p{
      text-align: right;
    }
    .testimonials .quote:nth-of-type(2) .text{
      text-align: right;
    }
    .testimonials .quote .profile{
      width:150px;
      border-radius: 50%;
    }
    .testimonials .quote .text{
      padding: 10px 0px;
    }
    .testimonials .quote .text p{
      width:50vw;
      margin:0px;
      text-align: left;
      padding: 0px;
    }
    .testimonials .quote .text h5{
      margin:0px;
      font-size:20px;
    }
    .testimonials .quote .text h6{
      margin:0px;
      font-size:15px;
    }
    .testimonials .quote:nth-of-type(3) .quoteico{
      width:150px;
      position: absolute;
      right:45px;
      transform: scaleX(-1);
      transform: scaleY(-1);
      padding: 30px 0px;
      float:right;
      display: block;
    }
    .testimonials .quote:nth-of-type(1) .quoteico{
      width:150px;
      left:40px;
      position: absolute;
      transform: scaleX(-1);
      padding: 30px 0px;
      float:right;
      display: block;
    }
    .mquotes{
      display: none;
    }
    .quotes{
      display: block;
    }
    .contact{
      padding: 30px 0px;
      background: #eaf3fa;
    }
    .contact h2{
      margin: 30px 0px 50px 0px;
    }
    .contact .ccontent{
      overflow: hidden;
      padding: 0px 30px;
    }
    .contact .ccontent .left{
      float:left;
      width:40vw;
      padding:45px 0px 20px 100px;
      text-align: left;
    }
    .contact .ccontent .left img{
      width:150px;
    }
    .contact .ccontent .left h4{
      font-size: 25px;
      font-weight: 400;
    }
    .contact .ccontent .right{
      float:right;
      width:25vw;
      padding:20px 200px 20px 0px;
    }
    .contact p{
      margin: 10px 0px 30px 0px;
    }
    .contact .ccontent .right form{
      text-align: center;
    }
    .contact .ccontent .right form input{
      padding:20px 30px;
      background:#fff;
      border-radius:50px;
      width:100%;
      font-size: 20px;
      border:none;
      margin-bottom: 20px;
    }
    .contact .ccontent .right form textarea{
      padding:20px 30px;
      height:100px;
      background:#fff;
      border-radius:20px;
      width:100%;
      font-size: 20px;
      border:none;
      margin-bottom: 20px;
    }
    .contact .ccontent .right form .submit{
      background:linear-gradient(90deg, #962591, #5675be);
      color: #fff;
      margin:0px 30px;
      padding: 20px 30px;
    }
    footer p{
      margin: 0px;
      text-align: center;
      font-size:15px;
      padding: 20px;
    }

  }
